.product-title {
    color: #0E0E0E;
    font-family: Varela;
    font-size: 1.2rem;
    font-weight: 500;

}

.product-sub {
    color: #0E0E0E;
    font-family: Varela;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product-icon-circle {
    border-radius: 50%;
    border: 1px solid black;
    width: 40px;
    height: 40px;
}

.modal-prod {
    width: 280px;
    height: 281px;
    flex-shrink: 0;
}

.modal-prod-border {
    border-radius: 13px;
    border: 2px solid #D3D3D3;
}

.modal-prod-border img {
    border-radius: 13px;
    // object-fit: contain;
}

.prod-bg-opacity {
    border-radius: 13px;
   border:1px solid #eee;
    background: linear-gradient(to top, #C9C9C9, #C9C9C9 30%, #d3d3d3 50%, #dbdbdb 70%, #ffffff);
    filter: linear-gradient(to bottom, lightblue, blue);
}

.prod-detail-desc {
    max-height: 220px;
    overflow-y: scroll;
}

.scroll-for::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.scroll-for::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.scroll-for::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
}


.test-result-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.slide-fwd-center {
    -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-fwd-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    100% {
        -webkit-transform: translateZ(160px);
        transform: translateZ(160px);
    }
}

@keyframes slide-fwd-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    100% {
        -webkit-transform: translateZ(160px);
        transform: translateZ(160px);
    }
}