.swiper-container {
    position: relative;
}

.slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px !important;
}

.swiper-pagination {
    position: absolute;
    bottom: 0px !important;
    left: 0;
    width: 100%;
    text-align: center;
}

.swiper-pagination-bullet {
    background: #000 !important;
    opacity: 1;
}